/*!===VARIABLES===*/

:root {
    --main-purple: #593fdf;
    --custom-purple: #6f5bd5; 
    --cloud-blue: #c2d1ff;
    --custom-blue: #828dfe;
    --title-color: #3b3d6e;

    --h2-font-size: 1.6em;
    --h2-margin: 3rem;
}

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
}

@keyframes blink {
    0%  { background-color: #fff; }
    49% { background-color: #fff; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { background-color: #fff; }
  }
  
body {
    background-color: #fff;
    font-family: 'Work Sans', sans-serif;
}

/*!===HEADER===*/

header {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .04);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .04);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .04);
    
}

.header__menu__logo {
    width: 70px;
    height: 70px;
    margin-top: 0.8rem;
    margin-left: 1.7rem;
}

/*!===MAIN===*/

#main__menu__container { 
    position: fixed;
    width: 570px;
    margin: 0 auto;
    left:  0;
    right: 0;
    bottom: 1rem;
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 0.8em;
    text-align: center;
    z-index: 7;

}

#main__menu__container .main__menu__nav li { 
    display: inline;
    padding: 10px 10px;

 }

#main__menu__container .main__menu__nav li a {
    color: #000;
    font-weight: 500;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 10px;
}

.main__menu__navigation--blue  {
    background-color: var(--custom-blue);
    border-radius: 20px; 
}


.main__content__container {
    display: flex;
    justify-content: center;
}

.main__content__picture {
    width: 640px;
    height: 640px;
    margin-top: -1.2rem;
}

.about__container {
    display: flex;
}

.about__container__title {
    text-align: center;
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    padding-top: 0.7rem;
    margin-bottom: var(--h2-margin);
    text-transform: uppercase;
}

.about__container__wrapper {
    width: 50%;
}

.about__container__picture {
    width: 450px;
    height: 450px;
    margin-left: 4rem;
}

.about__container__text {
    width: 50%;
    margin-top: -22rem;
    margin-left: 33rem;
}

.about__container__p {
    text-align: left;
    font-size: 1em;
    margin-bottom: 3rem;
}

.about__container__btn {
    display: inline-flex;
    align-items: center;
    color: #fff;
    background: linear-gradient(90deg, rgb(89, 63, 223) 50%, rgb(56, 27, 200) 100%);
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    border: none;
    border-radius: 10px;
    position: relative;
    z-index: 3;
}

.skills__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
    width: 100%;
}

.skills__container__title {
    text-align: center;
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    padding-top: 3rem;
    margin-top: 18rem;
    margin-bottom: var(--h2-margin);
    text-transform: uppercase;
}

.skills__container__web__languages__p {
    text-align: center;
    font-size: 1em;
    color: #fff;
    background-color: var(--main-purple);
    border-radius: 20px;
    margin-left: 7rem;
    margin-right: 5rem;
    margin-bottom: -40px;
    padding: 7px;
}

.skills__container__web__languages ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-purple);
    border-radius: 20px;
    padding: 26px;
    margin-right: -40px;
}

.skills__container__web__languages li {
    width: 30%;
    line-height: 1.7em;
    margin-right: 7px;
    text-align: center;
    margin-top: 2rem;
    cursor: pointer;
    transition: transform .2s;
    z-index: 4;
}

.skills__container__web__languages span {
    display: flex;
    justify-content: center;
}

.skills__container__web__design__p {
    text-align: center;
    font-size: 1em;
    color: #fff;
    background-color: var(--main-purple);
    border-radius: 20px;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: -40px;
    padding: 7px;
}

.skills__container__web__design ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-purple);
    border-radius: 20px;
    padding: 35px;

}

.skills__container__web__design li {
    width: 30%;
    line-height: 1.7em;
    margin-right: 2px;
    text-align: center;
    margin-top: 2rem;
    cursor: pointer;
    transition: transform .2s;
    z-index: 5;
}

.skills__container__web__design span {
    display: flex;
    justify-content: center;
}


.portfolio__container__title {
    text-align: center;
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    padding-top: 8rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
}

.portfolio__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -0.6rem;
}

.portfolio__card__img {
    width: 400px;
    height: 500px;
    object-fit: contain;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -7rem;
}

.card__one, .card__two,
.card__three, .card__four {
    background-color: var(--main-purple);
    border-radius: 15px;
    margin-top: 1.25rem;
    margin-left: 2rem;
    margin-right: 1.2rem;
    padding-bottom: -10rem;
}

.portfolio__card__details {
    margin-top: -3rem;
    margin-bottom: 2rem;
    margin-left: 1.25rem;
}

.portfolio__card__title {
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 2.2;
}

.portfolio__card__p {
    color: #fff;
    font-weight: 400;
    font-size: 1em;
}

/*!===HOVER===*/

.main__menu__navigation--purple:hover,
.main__menu__navigation--violet:hover,
.main__menu__navigation--cloud:hover {
    background-color: var(--custom-blue);
    transition: background-color .2s ease;
    border-radius: 20px;
}

.about__container__btn:hover {
    background: linear-gradient(90deg, rgb(89, 63, 223) 50%, rgb(45, 21, 165) 100%);
    transition: background .3s ease;
}

.skills__container__web__languages li:hover,
.skills__container__web__design li:hover {
    transform: scale(1.2);
 }

.bi-linkedin:hover {
    color: var(--cloud-blue);
    transition: color .2s ease-out;
}

.bi-github:hover {
    color: var(--cloud-blue);
    transition: color .2s ease-out;
}

.footer__links__adobe:hover {
    filter: invert(79%) sepia(14%) saturate(624%) hue-rotate(190deg) brightness(100%) contrast(102%);
    transition: filter .3s ease-in-out .800ms;
    
}

/*!===TYPING EFFECT===*/

.main__content__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 0.6rem;
}

.main__content__wrapper {
    padding-bottom: 15rem;
}

.main__content__wrapper h1 {
    color: #000;
    font-size: 1.3em;
    margin-top: -0.5rem;
    padding: 0.5rem;
    font-weight: 400;
    margin-left: 0.5rem;
    overflow: hidden;
}

.main__content__wrapper h1 span.main__content__title {
    font-weight: normal;
    color: var(--main-purple);
  }

.main__content__wrapper h1 span.cursor {
    display: inline-block;
    margin-left: 0.1rem;
    background-color: var(--main-purple);
    width: 3px;
    animation: blink 1s infinite;
  }

.main__content__wrapper h1 span.cursor.typing {
    animation: none;
  }

  /*!===FOOTER===*/

.footer__links {
    display: flex;
    flex-direction: row;
    margin-top: 30rem;
    margin-right: -0.5rem;
    margin-left: -2rem;
    gap: 13px;
    z-index: 6;
    
}

.footer__links__social {
    font-size: 1.5em;
    margin-top: 5rem;
    margin-bottom: 0.7rem;
}

.bi-linkedin::before {
    content: '\f472';
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer__links__adobe {
    display: inline-block;
    width: 1.6rem;
}

.footer__container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 1rem;
    cursor: pointer;
    z-index: -2;
}

.footer__copyright {
    font-size: 0.9em;
    margin-top: -0.2rem;
    margin-left: -4rem;
}

.contact__section__container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: -8rem;
    height: 100vh;
    margin-left: 20px;
    z-index: 1;
}

.contact__section__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    top: 25rem;
    margin-left: -3.7rem;
}

.contact__section__picture {
    width: 950px;
    height: 550px;
    object-fit: cover;
    margin-bottom: -30rem;
}


  /*!===RESPONSIVE===*/

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

/* xs */
@media (min-width: 350px) {
    .container {
        max-width: 350px;
    }

    header {
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .04);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .04);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .04);
        width: 100%;
    }

    .header__menu__logo {
        width: 25px;
        height: 25px;
        margin-top: 0.8rem;
    }

    #main__menu__container { 
        position: fixed;
        width: 328px;
        margin: 0 auto;
        left:  0;
        right: 0;
        bottom: 1rem;
        padding: 15px 20px;
        border: 1px solid black;
        border-radius: 15px;
        font-size: 0.8em;
        text-align: center;
        z-index: 7;
    }
    
    #main__menu__container .main__menu__nav li { 
        display: inline;
        padding: 5px 5px;
     }
    
    #main__menu__container .main__menu__nav li a {
        color: #000;
        font-weight: 500;
        font-size: 1em;
        text-transform: uppercase;
        padding: 1px;
    }
    
    .main__menu__navigation--blue  {
        background-color: var(--custom-blue);
        border-radius: 20px; 
    }

    .main__content__picture {
        width: 270px;
        height: 270px;
        margin-top: 2rem;
    }

    .main__content__wrapper h1 {
        color: #000;
        font-size: 0.8em;
        margin-top: -0.5rem;
        padding: 0.5rem;
        font-weight: 400;
        overflow: hidden;
    }

    .about__container__title {
        text-align: center;
        font-size: 1em;
        font-weight: 500;
        color: var(--title-color);
        padding-top: 0.7rem;
        margin-bottom: var(--h2-margin);
        text-transform: uppercase;
    }

    .about__container__picture {
        width: 250px;
        margin-left: 3rem;
    }

    .about__container__text {
        width: 50%;
        margin-top: -13rem;
        margin-left: 6rem;
    }
    
    .about__container__p {
        text-align: center;
        font-size: 0.9em;
        margin-bottom: 3rem;
    }
    
    .about__container__btn {
        display: inline-flex;
        align-items: center;
        color: #fff;
        background: linear-gradient(90deg, rgb(89, 63, 223) 50%, rgb(56, 27, 200) 100%);
        font-size: 1em;
        font-weight: 500;
        text-transform: uppercase;
        padding: 10px;
        margin-left: 0.5rem;
        border: none;
        border-radius: 10px;
        position: relative;
        z-index: 3;
    }

    .skills__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 3rem;
        gap: 30px;
        width: 100%;
    }
    
    .skills__container__title {
        text-align: center;
        font-size: 1em;
        font-weight: 500;
        color: var(--title-color);
        margin-top: 4rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    
    .skills__container__web__languages__p {
        text-align: center;
        font-size: 0.8em;
        color: #fff;
        background-color: var(--main-purple);
        border-radius: 20px;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: -40px;
        padding: 6px;
    }

    .skills__container__web__languages p {
        margin-bottom: -30px;
    }
    
    .skills__container__web__languages ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--main-purple);
        border-radius: 20px;
        padding: 3px;
        margin-right: 10px;
    }
    
    .skills__container__web__languages li {
        width: 100px;
        line-height: 1.7em;
        margin-right: -7px;
        text-align: center;
        margin-top: 2rem;
        cursor: pointer;
        transition: transform .2s;
        z-index: 4;
    }
    
    .skills__container__web__languages span {
        display: flex;
        justify-content: center;
    }
 
    .skills__container__web__design__p {
        text-align: center;
        font-size: 0.8em;
        color: #fff;
        background-color: var(--main-purple);
        border-radius: 20px;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: -40px;
        padding: 6px;
    }

    .skills__container__web__design p {
        margin-bottom: -30px;
    }
    
    .skills__container__web__design ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--main-purple);
        border-radius: 20px;
        padding: 3px;
        margin-right: 10px;
    }
    
    .skills__container__web__design li {
        width: 100px;
        line-height: 1.7em;
        margin-right: -7px;
        text-align: center;
        margin-top: 2rem;
        cursor: pointer;
        transition: transform .2s;
        z-index: 4;
    }
    
    .skills__container__web__design span {
        display: flex;
        justify-content: center;
    }

    .portfolio__container__title {
        text-align: center;
        font-size: 1em;
        font-weight: 500;
        color: var(--title-color);
        padding-top: 8rem;
        margin-top: 1rem;
        margin-bottom: 5rem;
        text-transform: uppercase;
    }
    
    .portfolio__container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: -2rem;
      padding-left: -30rem;
    }

    .portfolio__card__img {
        width: 250px;
        object-fit: contain;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: -7rem;
    }

    .contact__section__container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-top: -8rem;
        height: 100vh;
        margin-left: 20px;
        z-index: 1;
    }

    .contact__section__title {
        font-size: 1em;
        color: var(--title-color);
        font-weight: 500;
        text-transform: uppercase;
        position: absolute;
        top: 25rem;
        margin-left: -3.7rem;
        padding-top: -1rem;
    }

    .contact__section__picture {
        width: 550px;
        height: 200px;
        object-fit: cover;
        margin-bottom: -30rem;
        display: none;
    }

    .footer__links {
        display: flex;
        flex-direction: row;
        margin-top: -30rem;
        margin-right: -0.5rem;
        margin-left: -3.5rem;
        gap: 13px;
        z-index: 6;
    }
    
    .footer__links__social {
        font-size: 1.5em;
        margin-top: 1rem;
        margin-bottom: 0.7rem;
    }

    .footer__links__adobe {
        display: inline-block;
        width: 1.6rem;
    }

    .footer__container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 1rem;
        cursor: pointer;
        z-index: -2;
    }

    .footer__copyright {
        font-size: 0.9em;
        margin-top: -50rem;
        margin-left: -2rem;
    }
}

@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }

    #main__menu__container { 
        position: fixed;
        width: 328px;
        margin: 0 auto;
        left:  0;
        right: 0;
        bottom: 1rem;
        padding: 15px 20px;
        border: 1px solid black;
        border-radius: 15px;
        font-size: 0.8em;
        text-align: center;
        z-index: 7;
    }
    
    #main__menu__container .main__menu__nav li { 
        display: inline;
        padding: 5px 5px;
     }
    
    #main__menu__container .main__menu__nav li a {
        color: #000;
        font-weight: 500;
        font-size: 1em;
        text-transform: uppercase;
        padding: 1px;
    }
    
    .main__menu__navigation--blue  {
        background-color: var(--custom-blue);
        border-radius: 20px; 
    }
    
    .main__content__picture {
        width: 370px;
        height: 370px;
        margin-top: 2rem;
    }

    .main__content__wrapper h1 {
        color: #000;
        font-size: 1em;
        margin-top: -0.5rem;
        padding: 0.5rem;
        font-weight: 400;
        overflow: hidden;
    }

    .about__container__title {
        text-align: center;
        font-size: 1.2em;
        font-weight: 500;
        color: var(--title-color);
        padding-top: 0.7rem;
        margin-bottom: var(--h2-margin);
        text-transform: uppercase;
    }

    .about__container__picture {
        width: 350px;
        margin-left: 3rem;
    }

    .about__container__text {
        width: 50%;
        margin-top: -8rem;
        margin-left: 7rem;
    }

    .skills__container__title {
        text-align: center;
        font-size: 1.2em;
        font-weight: 500;
        color: var(--title-color);
        margin-top: 4rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    .portfolio__container__title {
        text-align: center;
        font-size: 1.2em;
        font-weight: 500;
        color: var(--title-color);
        padding-top: 8rem;
        margin-top: 1rem;
        margin-bottom: 5rem;
        text-transform: uppercase;
    }

    .portfolio__card__p {
        color: #fff;
        font-weight: 400;
        font-size: 0.9em;
    }

    .contact__section__title {
        font-size: 1.2em;
        color: var(--title-color);
        font-weight: 500;
        text-transform: uppercase;
        position: absolute;
        top: 25rem;
        margin-left: -3.7rem;
        padding-top: -1rem;
    }

    .footer__links {
        display: flex;
        flex-direction: row;
        margin-top: -2rem;
        margin-right: -0.5rem;
        margin-left: -3.5rem;
        gap: 13px;
        z-index: 6;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }

    .header__menu__logo {
        width: 30px;
        height: 30px;
        margin-top: 0.8rem;
        
    }

    .main__content__picture {
        width: 420px;
        height: 420px;
        margin-top: 2rem;
    }

    .about__container__title {
        text-align: center;
        font-size: 1.4em;
        font-weight: 500;
        color: var(--title-color);
        padding-top: 0.7rem;
        margin-bottom: var(--h2-margin);
        text-transform: uppercase;
    }

    .about__container__picture {
        width: 350px;
        margin-left: 8rem;
    }

    .about__container__text {
        width: 50%;
        margin-top: -8rem;
        margin-left: 9rem;
    }

    .about__container__btn {
        display: inline-flex;
        align-items: center;
        color: #fff;
        background: linear-gradient(90deg, rgb(89, 63, 223) 50%, rgb(56, 27, 200) 100%);
        font-size: 1em;
        font-weight: 500;
        text-transform: uppercase;
        padding: 10px;
        margin-left: 3.7rem;
        border: none;
        border-radius: 10px;
        position: relative;
        z-index: 3;
    }
    
    .skills__container__title {
        text-align: center;
        font-size: 1.4em;
        font-weight: 500;
        color: var(--title-color);
        margin-top: 4rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    .skills__container__web__languages__p {
        text-align: center;
        font-size: 1em;
        color: #fff;
        background-color: var(--main-purple);
        border-radius: 20px;
        margin-left: 7rem;
        margin-right: 5rem;
        margin-bottom: -40px;
        padding: 6px;
    }

    .skills__container__web__languages p {
        margin-bottom: -35px;
    }

    .skills__container__web__languages ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--main-purple);
        border-radius: 20px;
        padding: 30px;
        margin-right: -10px;
    }

    .skills__container__web__design__p {
        text-align: center;
        font-size: 1em;
        color: #fff;
        background-color: var(--main-purple);
        border-radius: 20px;
        margin-left: 7rem;
        margin-right: 5rem;
        margin-bottom: -40px;
        padding: 6px;
    }

    .skills__container__web__design p {
        margin-bottom: -35px;
    }

    .skills__container__web__design ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--main-purple);
        border-radius: 20px;
        padding: 30px;
        margin-right: -10px;
    }

    .portfolio__container__title {
        text-align: center;
        font-size: 1.4em;
        font-weight: 500;
        color: var(--title-color);
        padding-top: 8rem;
        margin-top: 1rem;
        margin-bottom: 5rem;
        text-transform: uppercase;
    }

    .contact__section__title {
        font-size: 1.4em;
        color: var(--title-color);
        font-weight: 500;
        text-transform: uppercase;
        position: absolute;
        top: 20rem;
        margin-left: -3.7rem;
        padding-top: -1rem;
    }

    .footer__links {
        display: flex;
        flex-direction: row;
        margin-top: -2rem;
        margin-right: -0.5rem;
        margin-left: -3.5rem;
        gap: 13px;
        z-index: 6;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    #main__menu__container { 
        position: fixed;
        width: 570px;
        margin: 0 auto;
        left:  0;
        right: 0;
        bottom: 1rem;
        padding: 15px 20px;
        border: 1px solid black;
        border-radius: 15px;
        font-size: 0.8em;
        text-align: center;
        z-index: 7;
    }
    
    #main__menu__container .main__menu__nav li { 
        display: inline;
        padding: 10px 10px;
     }
    
    #main__menu__container .main__menu__nav li a {
        color: #000;
        font-weight: 500;
        font-size: 1.2em;
        text-transform: uppercase;
        padding: 10px;
    }
    
    .main__menu__navigation--blue  {
        background-color: var(--custom-blue);
        border-radius: 20px; 
    }

    .about__container__picture {
        width: 370px;
        margin-left: 12rem;
    }

    .about__container__text {
        width: 50%;
        margin-top: -7rem;
        margin-left: 11rem;
    }

    .about__container__p {
        text-align: center;
        font-size: 1.1em;
        margin-bottom: 3rem;
    }

    .about__container__btn {
        display: inline-flex;
        align-items: center;
        color: #fff;
        background: linear-gradient(90deg, rgb(89, 63, 223) 50%, rgb(56, 27, 200) 100%);
        font-size: 1em;
        font-weight: 500;
        text-transform: uppercase;
        padding: 13px;
        margin-left: 5.8rem;
        border: none;
        border-radius: 10px;
        position: relative;
        z-index: 3;
    }

    .skills__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 3rem;
        gap: 30px;
        width: 100%;
    }

    .skills__container__web__languages p {
        margin-bottom: -35px;
    }
    
    .skills__container__web__languages ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--main-purple);
        border-radius: 20px;
        padding: 25px;
        margin-right: -10px;
    }
    
    .skills__container__web__languages li {
        width: 100px;
        line-height: 1.7em;
        margin-right: -7px;
        text-align: center;
        margin-top: 2rem;
        cursor: pointer;
        transition: transform .2s;
        z-index: 4;
    }
    
    .skills__container__web__languages span {
        display: flex;
        justify-content: center;
    }

    .skills__container__web__design p {
        margin-bottom: -35px;
    }
    
    .skills__container__web__design ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--main-purple);
        border-radius: 20px;
        padding: 25px;
        margin-right: -10px;
    }
    
    .skills__container__web__design li {
        width: 100px;
        line-height: 1.7em;
        margin-right: -7px;
        text-align: center;
        margin-top: 2rem;
        cursor: pointer;
        transition: transform .2s;
        z-index: 4;
    }
    
    .skills__container__web__design span {
        display: flex;
        justify-content: center;
    }

    .portfolio__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: -2rem;
     
      }
  
    .portfolio__card__img {
          width: 350px;
          object-fit: contain;
          margin-left: 1rem;
          margin-right: 1rem;
          margin-top: -7rem;
      }

    .portfolio__card__p {
        color: #fff;
        font-weight: 400;
        font-size: 1em;
    }

    .contact__section__picture {
        display: block;
        width: 650px;
        height: 350px;
        object-fit: cover;
        margin-bottom: -20rem;
        margin-right: 40rem;
    }

    .footer__links {
        display: flex;
        flex-direction: row;
        margin-top: 20rem;
        margin-right: -0.5rem;
        margin-left: -42rem;
        gap: 13px;
        z-index: 6;
    }

    .footer__copyright {
        margin-left: -1rem;
        margin-top: -20rem;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .header__menu__logo {
        width: 35px;
        height: 35px;
        margin-top: 0.8rem;
        margin-left: 2rem;
    }

    .main__content__picture {
        width: 570px;
        height: 570px;
        margin-top: 2rem;
    }

    .main__content__wrapper h1 {
        color: #000;
        font-size: 1.4em;
        margin-top: -0.5rem;
        padding: 0.5rem;
        font-weight: 400;
        overflow: hidden;
    }

    .about__container__picture {
        width: 400px;
        margin-left: 19rem;
    }

    .about__container__text {
        width: 50%;
        margin-top: -6rem;
        margin-left: 15rem;
    }

    .about__container__btn {
        display: inline-flex;
        align-items: center;
        color: #fff;
        background: linear-gradient(90deg, rgb(89, 63, 223) 50%, rgb(56, 27, 200) 100%);
        font-size: 1em;
        font-weight: 500;
        text-transform: uppercase;
        padding: 13px;
        margin-left: 9rem;
        border: none;
        border-radius: 10px;
        position: relative;
        z-index: 3;
    }

    .skills__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .skills__container__web__languages ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--main-purple);
        border-radius: 20px;
        padding: 8px;
        margin-right: -40px;
    }
    
    .skills__container__web__languages li {
        width: 30%;
        line-height: 1.7em;
        margin-right: 7px;
        text-align: center;
        margin-top: 2.5rem;
        cursor: pointer;
        transition: transform .2s;
        z-index: 4;
    }
    
    .skills__container__web__languages span {
        display: flex;
        justify-content: center;
    }
    
    .skills__container__web__design ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--main-purple);
        border-radius: 20px;
        padding: 28px;
    }
    
    .skills__container__web__design li {
        width: 30%;
        line-height: 1.7em;
        margin-right: 2px;
        text-align: center;
        margin-top: 2rem;
        cursor: pointer;
        transition: transform .2s;
        z-index: 5;
    }
    
    .skills__container__web__design span {
        display: flex;
        justify-content: center;
    }

    .portfolio__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: -2rem;
      }

    .contact__section__picture {
        display: block;
        width: 650px;
        height: 350px;
        object-fit: cover;
        margin-bottom: -15rem;
        margin-left: -2rem;
    }

    .footer__copyright {
        margin-left: -5rem;
        margin-top: -25rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
    
    .header__menu__logo {
        width: 40px;
        height: 40px;
        margin-top: 0.8rem;
        margin-left: 2rem;
    }

    .about__container__picture {
        width: 400px;
        margin-left: 4rem;
    }

    .about__container__text {
        width: 50%;
        margin-top: -23rem;
        margin-left: 33rem;
    }

    .about__container__p {
        text-align: left;
        font-size: 1em;
        margin-bottom: 3rem;
    }

    .about__container__btn {
        display: inline-flex;
        align-items: center;
        color: #fff;
        background: linear-gradient(90deg, rgb(89, 63, 223) 50%, rgb(56, 27, 200) 100%);
        font-size: 1.2em;
        font-weight: 500;
        text-transform: uppercase;
        padding: 12px;
        margin: 0;
        border: none;
        border-radius: 10px;
        position: relative;
        z-index: 3;
    }

    .skills__container__title {
        text-align: center;
        font-size: 1.4em;
        font-weight: 500;
        color: var(--title-color);
        margin-top: 12rem;
        margin-bottom: 3rem;
        text-transform: uppercase;
    }

    .contact__section__picture {
        display: block;
        width: 770px;
        height: 450px;
        object-fit: cover;
        margin-bottom: -30rem;
        margin-left: -1rem;
    }

    .footer__copyright {
        margin-left: -5rem;
        margin-top: -35rem;
        
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }

    .skills__container__title {
        text-align: center;
        font-size: var(--h2-font-size);
        font-weight: 500;
        color: var(--title-color);
        padding-top: 0.5rem;
        margin-top: 18rem;
        margin-bottom: var(--h2-margin);
        text-transform: uppercase;
    }

    .portfolio__container__title {
        text-align: center;
        font-size: var(--h2-font-size);
        font-weight: 500;
        color: var(--title-color);
        padding-top: 9rem;
        margin-top: 10rem;
        margin-bottom: 5rem;
        text-transform: uppercase;
    }

    .contact__section__picture {
        display: block;
        width: 950px;
        height: 550px;
        object-fit: cover;
        margin-bottom: -32rem;
        margin-left: -1rem;
    }

    .footer__copyright {
        margin-left: -5rem;
        margin-top: -10rem;
    }
}
